

@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<BusinessObjectLayer.Models.TimeEntry>




<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th> Entry ID </th>
                    <th> Date </th>
                    <th>  In Time </th>
                    <th> Out Time  </th>
                    <th> Breaks </th>
                    <th> Add Break </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var entry in Model)
                {
                    <tr>
                        <td> @entry.Id  </td>
                        <td> @entry.Date.ToString("D") </td>
                        <td> @entry.InTime.ToString("hh:mm")</td>
                        <td> @entry.OutTime.ToString("hh:mm") </td>
                        <td>
                            @foreach (var b in @entry.Breaks)
                            {
                                <P> Break In :  @b.BreakIn.ToString("hh:mm") </P>
                                <p> Break Out :  @b.BreakOut.ToString("hh:mm") </p>
                                <a class="btn btn-danger" asp-controller="TimeEntry" asp-action="DeleteBreak" asp-route-id="@b.BreakID" title="Delete Break"> Delete  </a>
                            }

                        </td>
                        <td width="20%"><a class="btn btn-primary" asp-controller="TimeEntry" asp-action="AddBreak" asp-route-id="@entry.Id" title="add Break"> Add Break </a></td>
                        <td width="20%"><a class="btn btn-danger" asp-controller="TimeEntry" asp-action="DeleteEntry" asp-route-id="@entry.Id" title="Delete Entry"> Delete  </a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<a class="btn btn-primary" asp-controller="TimeEntry" asp-action="CreateEntry"> Create New Entry </a>



